:root{
    --EXACTPRO-MAIN-TURQUOISE: #3f979f;
    --EXACTPRO-MAIN-NAVYBLUE: #1e2736;
    --EXACTPRO-MAIN-TURQUOISE-70: #78b6bc;
    --EXACTPRO-MAIN-NAVYBLUE-70: #616772;
    --EXACTPRO-MAIN-TURQUOISE-40: #b2d5d9;
    --EXACTPRO-MAIN-NAVYBLUE-40: #a5a9af;
    --EXACTPRO-MAIN-TURQUOISE-20: #d9eaec;
    --EXACTPRO-MAIN-NAVYBLUE-20: #d2d4d7;

    --EXACTPRO-EXTRA-BLUE: #5293c9;
    --EXACTPRO-EXTRA-RED: #b64c4c;
    --EXACTPRO-EXTRA-BLUE-70: #83b2d8;
    --EXACTPRO-EXTRA-RED-70: #dba7a7;
    --EXACTPRO-EXTRA-BLUE-40: #b9d3e9;
    --EXACTPRO-EXTRA-RED-40: #e2b7b7;
    --EXACTPRO-EXTRA-BLUE-20: #dce9f4;
    --EXACTPRO-EXTRA-RED-20: #f0dbdb;
}
